<!doctype html>
<html lang="en">
    {% include head.html %}
    {% include header.html %}
    {% include script.html %}
<body>

<!-- Main Container -->
<div class="container">
 {% for post in site.posts limit:3 %}
  <div class="blog-teaser">
    <div class="row m-0">
      <div class="col-md-4 p-0">
        <div class="blog-teaser__image">
          <img src="../assets/img/posts/{{ post.picture }}" />
        </div>
      </div>
      <div class="col-md-8 p-0">
        <div class="blog-teaser__details-wrapper">
          <div class="blog-teaser__details">
              <h2 class="blog-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <div class="row">
              <div class="col-md-9">
                  <p>{{ post.description }}</p>
              </div>
              <div class="col-md-3" align="center">
                  <a href="{{ post.url }}"><i class="fa fa-play-circle fa-5x"></i></a>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% if site.posts.size  > 3 %}
    <div class="row m-0">
        <h2><a href="{{ site.url }}/episodes_list">Ver mas episodios</a></h2>
    </div>
{% endif %}
</div>

  </body>
{% include footer.html %}
</html>

