<!doctype html>
<html lang="en">
    {% include head.html %}
    {% include header.html %}
    {% include script.html %}
<body>
<div class="container">
    <div class="blog-teaser">
        <div class="post-title">
            <h1>Episodios</h1>
        </div>

        <div class="row m-0">
            <div class="col-md-1 p-0">
            </div>
            <div class="col-md-4 p-0">
            <ul> 
                {% for post in paginator.posts %}
                    <li>
                        <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - 
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            </div>
        </div>

        <div class="row m-0">
            <div class="col-md-4 p-0">
            </div>
            <div class="col-md-4 p-0">

            {% if paginator.total_pages >= 1 %}
                <div class="pagination">
                  {% if paginator.previous_page %}
                        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
                  {% else %}
                        <span>&laquo;</span>
                  {% endif %}

                  {% for page in (1..paginator.total_pages) %}
                        {% if page == paginator.page %}
                              <span class="webjeda">{{ page }}</span>
                        {% elsif page == 1 %}
                            <a href="{{site.url}}/episodes_list">{{ page }}</a>
                        {% else %}
                              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                        {% endif %}
                  {% endfor %}

                  {% if paginator.next_page %}
                        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
                  {% else %}
                        <span>&raquo;</span>
                  {% endif %}
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>

</body>
{% include footer.html %}
</html>

