<!doctype html>
<html lang="en">
    {% include head.html %}
    {% include header.html %}
    {% include script.html %}
<body>

<!-- Main Container -->
<div class="container">
  <div class="blog-teaser">
    <div class="row m-0">
      <div class="col-md-4 p-0">
        <div class="blog-teaser__image">
          <img src="https://assets.codepen.io/4722029/wonder_woman-preview.png" />
        </div>
      </div>
      <div class="col-md-8 p-0">
        <div class="blog-teaser__details-wrapper">
          <div class="blog-teaser__details p-4">
            <h2 class="blog-title">6.12 - Sheila Acuña: Como armar una comunidad</h2>
            <div class="row">
              <div class="col-md-10">
                <p>r lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts.</p>
              </div>
              <div class="col-md-2">
                  <i class="fa fa-play-circle fa-4x"></i>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  </body>
{% include footer.html %}
</html>
<!--End Main Container --><!-- Main Container -->

<!--   {% for post in site.posts %} -->

<!--   {% endfor %} -->
<!--
<div class="container">
  {% for post in site.posts %}
  <div class="blog-post">
      <h1 class="blog-title">
        <i class="fa fa-file-text"></i>
        {{ post.title }}
      </h1>
      <br>
      <img src="assets/img/slider/{{ post.picture }}" alt="Feature-img" align="right" width="100%" class="blog-image">
      <br>
      <p>{{ post.description }}</p>
      <span class="badge">{{ post.date | date: '%B %d, %Y' }}</span>
      <div class="pull-right">
        {% if post.label_default %}
          <span class="label label-default">{{ post.label_default }}</span> 
        {% endif %}

        {% if post.label_primary %}
          <span class="label label-primary">{{ post.label_primary }}</span> 
        {% endif %}
        
        {% if post.label_success %}
          <span class="label label-success">{{ post.label_success }}</span> 
        {% endif %}
        
        {% if post.label_info %}
          <span class="label label-info">{{ post.label_info }}</span> 
        {% endif %}
        
        {% if post.label_warning %}
          <span class="label label-warning">{{ post.label_warning }}</span>
        {% endif %}

        {% if post.label_danger %}
          <span class="label label-danger">{{ post.label_danger }}</span>
        {% endif %}
      </div>         
    </div>
    <hr>
  {% endfor %}
</div>
-->
<!--End Main Container -->
